body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffcc33;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1,
h2 {
  margin: 0;
  font-weight: bold;
  font-size: 3rem;
}

.avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  margin: 20px 0 0;
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  background-color: #ffcc33;
  color: #333;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
}

a {
  color: #333;
}

a:hover {
  color: #ffcc33;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  background-image: url("https://images.unsplash.com/photo-1494964415120-19fb2cc53fb1");
  background-size: cover;
  background-position: center;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
